<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Paletro</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/custom.css" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="https://use.fontawesome.com/7630db6e00.js"></script>
    <script src="/clipboard/dist/clipboard.min.js"></script>
    <script type="text/javascript" src="/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>

</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>
</html>
