<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/" />
        <title>Testing</title>
        <!-- <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" /> -->
    <!--     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"> -->
        <!-- Materialize.css-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <!-- <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> -->

        <script type="text/javascript" src="/materialize-css/dist/js/materialize.min.js"></script>
    </head>
    <body>

    <div id="user-navbar">
      <nav class="blue original">
        <div class="nav-wrapper container">
          <a ui-sref="home" class="brand-logo">Sample Navbar</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login</li></a></li>
          </ul>
        </div>
      </nav>
    </div>

    <button class="btn blue" style="height:50px; width:200px; position: absolute; left: 234px; top: 331px">button</button>

    </body>
</html>