html {
  overflow-x: hidden;
}

#edit-button {
  top: 40%;
  left: 8px;
  position: fixed;
}
/*Homepage CSS*/
.block {
  height: 91.5vh;
  margin: 0;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.block h1 {
  margin: 0;
  padding-top: 20%;
  padding-bottom: 20px;
}

.block button {
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border: 2px solid #008080;
  margin: 0 4px;
}

/*Sidebar Elements CSS*/
#finish-button {
  margin-left: 30px;
}

/*Color Picker CSS*/
#color-picker {
  top: 20%;
  right: 24px;
}
#shade-picker {
  top: 40%;
  right: 24px;
}

/*Components CSS*/
#user-navbar {
  top: 65px;
  position: fixed;
  width: 100%;
}

.selected {
  border: 1px solid blue;
  /* glow*/
  -webkit-box-shadow: 0px 0px 4px blue;
     -moz-box-shadow: 0px 0px 4px blue;
          box-shadow: 0px 0px 4px blue;
}

.absolute {
  position: absolute; !important
}

#user-button {
  width: 100%; !important
  height: 100%; !important
}

/*Misc*/
.error {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  color: #D8000C;
  background-color: #FFD1D1;
}

#deleteProj {
  margin-left: 5px;
}