

.navbar-fixed {
  z-index: 0 !important;
}

/*Homepage CSS*/
.block {
  height: 91.5vh;
  margin: 0;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.block h1 {
  margin: 0;
  padding-top: 20%;
  padding-bottom: 20px;
}

.block button {
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border: 2px solid #008080;
  margin: 0 4px;
}

/*Editor Page CSS*/
#editor {
  height: 500vh;
}

#finish-button {
  margin-left: 30px;
}

#edit-button {
  top: 40%;
  left: 8px;
  position: fixed;
}

#description {
  padding-top: 8px;
  line-height: 24px;
}

/*Color Picker CSS*/
#color-picker {
  top: 20%;
  right: 24px;
}
#shade-picker {
  top: 40%;
  right: 24px;
}
#grid-lines {
  top: 50%;
  right: 24px;
}

/*Components CSS*/
#user-navbar {
  top: 65px;
  position: fixed;
  width: 100%;
}

.selected {
  border: 1px solid blue;
  /* glow*/
  -webkit-box-shadow: 0px 0px 4px blue;
     -moz-box-shadow: 0px 0px 4px blue;
          box-shadow: 0px 0px 4px blue;
}

.absolute {
  position: absolute; !important
}
/*
.vertical-align {
  padding-top: 50%;
  display: block;
}*/


/*Misc*/
.error {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  color: #D8000C;
  background-color: #FFD1D1;
}

.btn-spacing {
  margin-left: 5px;
}

.codeblock {
  background-color: #e6e6e6;
  margin-top: 30px;
}

/*Preview Iframe*/
#IframeWrapper {
  width: 320px;
  height: 192px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

#preview {
  width: 1280px;
  height: 786px;
  border: 0;
  -ms-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -o-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

#iframeBlocker {
  position: absolute;
  top:0;
  left:0;
  width:320px;
  height:192px;
}


.oauth {
  width: 300px;
}

/*Grid CSS*/
.grid {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
}

.grid div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
}


/*Modal CSS*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    max-height: none;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 45%; /* Could be more or less, depending on screen size */
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.4s;
    animation-name: zoom;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


