<div class="container">
  <h2>Welcome to your Project Page</h2>
  <button class="btn" ng-click="addProject()">Add Project</button>
  <div ng-repeat ="project in projects">{{project.name}}
<!--     <div ng-repeat = "content in contents">
     Project details: {{content}}
    </div> -->
    <ul>
      <li><a class="btn-floating"><i class="material-icons">create</i></a></li>
      <li><a class="btn-floating red" ng-click="deleteProject(project.id)"><i class="material-icons">delete_forever</i></a></li>
    </ul>
  </div>
</div>
