<div class="container">
  <h2>Welcome to Your Project Page</h2>
  <button class="btn" ng-click="addProject()">Add Project</button>
  <table class="highlight">
    <thead>
      <tr>
          <th data-field="name">Project Name</th>
          <th data-field="date">Last Updated</th>
          <th data-field="manage">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projects">
        <td>{{project.name}}</td>
        <td>{{project.lastUpdated}}</td>
        <td><a class="btn-floating" ng-click="editProject(project.id)"><i class="material-icons">create</i></a><a id="deleteProj" class="btn-floating red" ng-click="deleteProject(project.id)"><i class="material-icons">delete_forever</i></a></td>
      </tr>
    </tbody>
  </table>
</div>
