
<div class="container">
  <br><br>
  <div class="row">
    <h3>Log in</h3>
    <form name="loginForm" class="col s12 m8 l7" ng-submit="loginForm.$valid && sendLogin(login)">
      <div class="error" type="danger" ng-show="error">
        {{ error }}
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="login.email" type="email" class="validate" required>
          <label for="email" data-error="Invalid Email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="login.password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <button type="submit" class="btn waves-effect waves-light">Submit</button>
    </form>
    <div class="col s12 m1 l1"></div>
    <div class="col s12 m3 l4">
      <br><br>
      <a class="btn red waves-effect waves-light oauth" href="https:/paletro.herokuapp.com/auth/google/"><i class="fa fa-google left"></i> Login with Google</a>
      <br><br>
      <a class="btn light-blue waves-effect waves-light oauth" href="https:/paletro.herokuapp.com/auth/twitter/"><i class="fa fa-twitter left"></i> Login with Twitter</a>
      <br><br>
      <a class="btn btn blue waves-effect waves-light oauth" href="https:/paletro.herokuapp.com/auth/facebook"><i class="fa fa-facebook left"></i> Login with Facebook</a>
      <br><br>
    </div>
  </div>
</div>
