<section id="editor" ng-class="getClasses()">

  <!-- Project Name Model -->
  <div id="myModal" class="modal float_center">
    <div class="modal-content">
      <span class="close">x</span>

      <form name="projectForm" ng-submit="sendProject()">
        <h3>Name Your Project</h3>
        <div class="form-group">
            <input type="text" ng-model="inputTitle" class="form-control" placeholder="Enter project name">
        </div>
        <button class="btn" id="finish-button">Continue to project <i class="material-icons right">arrow_forward</i></button>
      </form>

    </div>
  </div>


  <!-- Side Nav -->
  <ul id="slide-out" class="side-nav">
    <br><br><br><br>
    <li class="no-padding">
      <ul class="collapsible" data-collapsible="accordion">

        <li class="bold"><a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">toc</i>Project Details</a>
          <div class="collapsible-body">
            <ul>
              <li>
                <form class="container">
                <strong>Enter a new name below:</strong>
                <input placeholder="Enter Project Name" type='text' ng-model='projectName'>
                <button class="btn btn-submit" type='submit' ng-click='changeProjectName()' required>Update <i class="material-icons right">send</i></button>
              </form></li>
            </ul>
          </div>
        </li>

        <li class="bold"><a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">format_color_fill</i>Background Color</a>
          <div class="collapsible-body">
            <ul class="{{selectedColor}} {{selectedShade}}">
              <li class="container">
                <div id="description">Use the Color and Shade Palettes to choose a background color for your site. When the background of this box looks good to you, click the button below.</div>
                <button class="btn waves-effect waves-teal" ng-click="changeBgColor()">Update<i class="material-icons right">looks</i></button>
              </li>
            </ul>
          </div>
        </li>

        <li class="bold"><a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">add_to_photos</i>New Component</a>
          <div class="collapsible-body">
            <ul>
              <li><a class="waves-effect" ng-click=addComponent('navbar')>New Navbar</a></li>
              <li><a class="waves-effect" ng-click=addComponent('logo')>New Logo</a></li>
              <li><a class="waves-effect" ng-click=addComponent('button')>New Button</a></li>
              <li><a class="waves-effect" ng-click=addComponent('div')>New Div</a></li>
              <li><a class="waves-effect" ng-click=addComponent('textbox')>New Text Box</a></li>
              <li><a class="waves-effect" ng-click=addComponent('header')>New Header</a></li>
            </ul>
          </div>
        </li>

       <li class="bold"><a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">insert_photo</i>New Image</a>
          <div class="collapsible-body">
            <ul>
              <li><form class="image container input-field" novalidate>
                <input placeholder="Enter Img Url" type='text' ng-model='image.url'>
                <button class="btn btn-submit" type='submit' ng-click='addImage()' required>Add Image <i class="material-icons right">send</i></button>
              </form></li>
            </ul>
          </div>
        </li>

        <li><button class="btn waves-effect waves-teal" id="finish-button" ng-click="finished()">Save Project <i class="material-icons right">send</i></button></li>

      </ul>
    </li>

  </ul>
  <a data-activates="slide-out" class="button-collapse btn-floating btn-large waves-effect waves-light teal" id="edit-button"><i class="material-icons">label_outline</i></a>
  <!-- End Side Nav -->

  <!-- Right Buttons -->
  <div class="fixed-action-btn horizontal" id="color-picker">
    <a class="btn-floating btn-large red">
      <i class="material-icons">color_lens</i>
    </a>
    <ul>
      <li ng-repeat="color in colors"><a ng-click="setColor(color)" class="btn-floating {{color}} {{selectedShade}}"><i class="material-icons">brush</i></a></li>
    </ul>
  </div>

  <div class="fixed-action-btn horizontal" id="shade-picker">
    <a class="btn-floating btn-large {{selectedColor}}">
      <i class="material-icons">iso</i>
    </a>
    <ul>
      <li ng-repeat="shade in shades"><a ng-click="setShade(shade)" class="btn-floating {{selectedColor}} {{shade}}"><i class="material-icons">crop_square</i></a></li>
    </ul>
  </div>

  <div class="fixed-action-btn horizontal" id="grid-lines">
    <a class="btn-floating btn-large purple" ng-click="toggleGrid()">
      <i class="material-icons">border_all</i>
    </a>
  </div>

  <div class="fixed-action-btn horizontal" id="trash-can">
    <a class="btn-floating btn-large green">
      <i class="material-icons">delete_forever</i>
    </a>
  </div>

<!-- Canvas -->
  <div id="canvas">
    <div ng-repeat="element in elements">
      <user-navbar elements="elements" index="$index" ng-show="element.type === 'navbar'"></user-navbar>
      <fullstack-logo elements="elements" index="$index" dimension="dimension" ng-show="element.type === 'logo'"></fullstack-logo>
      <new-button elements="elements" index="$index" dimension="dimension" ng-show="element.type === 'button'"></new-button>
      <user-div elements="elements" index="$index" dimension="dimension" ng-show="element.type === 'div'"></user-div>
      <user-image elements="elements" index="$index" dimension="dimension" class="absolute" ng-show="element.type === 'image'" image='element.url'></user-image>
      <text-box elements="elements" index="$index" dimension="dimension" ng-show="element.type === 'textbox'"></text-box>
      <header elements="elements" index="$index" dimension="dimension" ng-show="element.type === 'header'"></header>
    </div>
  </div>


</section>


