<div class="container">
  <h2>Welcome to Your Project Page</h2>

  <div id="myModal" class="modal float_center">
    <div class="modal-content">
      <span class="close">x</span>

      <form name="projectForm" ng-submit="sendProject()">
        <h3>Name Your Project</h3>
        <div class="form-group">
            <input type="text" ng-model="inputTitle" class="form-control" placeholder="Enter project name">
        </div>
        <button class="btn" id="finish-button">Continue to project <i class="material-icons right">arrow_forward</i></button>
      </form>

    </div>
  </div>
  <br><br>
  <button class="btn waves-effect waves-light" ng-click="addPage()"><i class="material-icons right">add_circle_outline</i>New Page</button>
  <table class="highlight">
    <thead>
      <tr>
        <th data-field="name">Page Name</th>
        <th data-field="manage">Manage</th>
        <th data-field="manage">Preview</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="page in pages">
        <td>{{page.name}}</td>
        <td><a class="btn-floating" ng-click="loadPage(page.id)"><i class="material-icons">create</i></a><a class="btn-floating red btn-spacing" ng-click="deletePage(page.id)"><i class="material-icons">delete_forever</i></a></td>
        <td>
          <div id="IframeWrapper">
            <iframe ng-src="{{'project/'+page.projectId+'/page/'+page.id}}" id='preview'></iframe>
            <div id="iframeBlocker"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>