<section id="home">
  <div id="toolbox">
    <p>TOOLS</p>
    <button ng-click=addLogo()>New Logo</button>
    <button ng-click=addButton()>New button</button>
    <button ng-click=addDiv()>New Box</button>
    <button ng-click=addText()>New Text</button>

    <p>*****************************************</p>
  </div>


  <div ng-repeat="element in elements">
    <fullstack-logo ng-show="element.type === 'logo'"></fullstack-logo>
    <new-button ng-show="element.type === 'button'"></new-button>
    <our-div ng-show="element.type === 'div'"></our-div>
    <text-box ng-show="element.type === 'textbox'"></text-box>
  </div>

 <button ng-click="finished()">finished</button>


</section>
